/* Main navbar */
.navbar-wagon-xs {
  transition: all 0.3s ease;
  height: 8vh;
  align-items: center;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
  background-color: #C6DEE4;
  display: flex;
}

.navbar-wagon-xl {
  transition: all 0.3s ease;
  height: 9vh;
  align-items: center;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
  background-color: #C6DEE4;
  padding: 0 20vw;
}
/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  display: flex;
}

.navbar-wagon-item-xs {
  cursor: pointer;
  padding: 0 3vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}


/* Navbar link */
.navbar-wagon-link {
  color: #333;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.navbar-wagon-link:after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 500ms;
}

.navbar-wagon-link:hover:after {
  width: 100%;
}

.navbar-wagon-link:hover {
  text-decoration: none;
  color: #333;
}


/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  width: 33vw;
  z-index: 11;
}

.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  font-size: 4vw;
  padding: 10px 20px !important;
}

.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}

.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.fas {
  font-size: 8vw;
}

.navbar-wagon-xl img {
  height: 7vh;
}

.navbar-wagon-xs img {
  height: 7vh;
}
