html, body {
/*  background-color: #C6DEE4 !important;*/
  padding-top: 5vh;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #898989;
  font-weight: lighter;
}

.background h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}

.background h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}

.text {
  text-align: center;
  padding-top: 30vh;
  font-size: 4vw;
}

.bandeau {
  height: 91vh;
  padding-top: 6vh;
}

.photo-bagage {
  text-align: center;
}

.photo-bagage img {
  height: 45vh;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 4vh;
}

.presentation-titre h1 {
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.presentation-contenu p {
  margin-top: 2vh;
  margin-bottom: 4vh;
}

.presentation-contenu a:hover {
  text-decoration: none;
}


.titre-question h1 {
  margin-bottom: 4vh;
}

.padding-row {
  padding-left: 3vw;
  padding-right: 3vw;
}

.map-responsive {
  text-align: center;
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  margin-bottom: 5vh;
}

.map-responsive iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -20%;
  padding: 16px;
  color: white;
  opacity: 0.6;
  font-weight: bold;
  font-size: 12vh !important;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  border-radius: 3px 0 0 3px;
  left: 80%;
}

.prev {
  right: 80%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1.5rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 1vh;
  width: 100%;
  text-align: center;
  background-color: rgba(15, 15, 15, 0.3);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  opacity: 1 !important;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.mySlides img {
  margin-bottom: 0;
}

.atouts {
  text-align: center;
  margin-top: 3vh;
}

.atouts p {
  margin-top: 1vh;
}

.nos-atouts {
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.images-magasin {

}

.padding-none {
  padding: 0px;
}

.presentation-contenu p {
  margin-bottom: 0;
  margin-top: 1vh;
}

.form-group {
  margin-bottom: 4vh !important;
}

.end-page {
  margin-bottom: 5vh;
}

.marque-list {
  text-align: center;
}

.marque-list img {
  margin: 1vh 1vh;
}

.marque-list p {
  margin: 1vh 1vh;
}
