.background {
  background-color: #C6DEE4;
  height: 110vh;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.background h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.6rem;
}

.text {
  text-align: center;
  padding-top: 30vh;
  font-size: 4vw;
}

.bandeau {
  height: 91vh;
  padding-top: 10vh;
}

.photo-bagage {
  text-align: center;
}

.photo-bagage img {
  height: 45vh;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 4vh;
}

.presentation-titre h1 {
  text-align: center;
  margin-top: 0;
}

.presentation-contenu p {
  text-align: justify;
  margin-top: 2vh;
  margin-bottom: 4vh;
}

.presentation-contenu a:hover {
  text-decoration: none;
}


.titre-question h1 {
  margin-bottom: 4vh;
}

.padding-row {
  padding-left: 3vw;
  padding-right: 3vw;
}

.map-responsive {
  text-align: center;
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.adresse-exacte {
  text-align: center;
}
